# Codecup 6: Data Analysis | Part 1
### Author: Arash Hajian nezhad
---

#### Imports

In [15]:
import numpy as np
import pandas as pd

#### Data loading

In [16]:
output = ''
df = pd.read_csv('data/train.csv')
df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

## Question 1
### Get the `rows` and `columns` counts of the dataset. (seperated by space)

In [17]:
answer = f'{len(df)} {len(df.columns)}'
output += answer + '\n'
print(answer)

1590 10

## Question 2
### What is the `average annual income` of the customers? (just the integer part)

In [10]:
answer = f'{int(df["AnnualIncome"].mean())}'
output += answer + '\n'
print(int(df['AnnualIncome'].mean()))

928553

## Question 3
### How many customers have ever `travelled abroad`?

In [11]:
answer = f'{len(df[df["EverTravelledAbroad"] == "Yes"])}'
output += answer + '\n'
print(len(df[df['EverTravelledAbroad'] == 'Yes']))

302

## Question 4
### Determine whether most of the customers are `Self-employed`, or work at a `Government Sector`. Show the percentage of it as well.

In [12]:
types = df['Employment Type'].value_counts().index.to_list()
counts = df['Employment Type'].value_counts(normalize=True).to_list()

max_type = ''
max_count = 0
for i, j in zip(types, counts):
    if j > max_count:
        max_type = i
        max_count = round(j * 100, 2)

answer = f'{max_type} {max_count}'
output += answer + '\n'
print(answer)

Private Sector/Self Employed 72.64

## Question 5
### Out of the customers having `chronic disease`, what percentage of them have `travel insurance`?

In [13]:
chronic_and_travelinsurance_count = len(df.query('ChronicDiseases == 1 and TravelInsurance == "Yes"'))
total = len(df)

percentage = ((chronic_and_travelinsurance_count / total) * 100)

answer = f'{percentage:.2f}'
output += answer
print(answer)

10.50

#### Saving the output file

In [14]:
with open('part_1_output.txt', 'w') as file:
    file.write(output)